.user-register-board {
    display: block;
    position: relative;
    max-width: 740px;
    margin: 0 auto;
}

em {
    float: right;
    color: red;
    padding-left: 10px;
}

.movetologin {
    color: rgba(0, 0, 0, 0.54)!important;
    size: 8px;
    text-decoration: underline!important;
}