.clapWidgetContainer {
    padding-left: 24px;
}

.clapButtion {
    margin-left: -7px;
    margin-top: 1px;
    cursor: pointer;
}

.clapButtion i {
    color: white;
}

.badge-inverse {
    background: white;
    color: #4e5d6c;
}

.clapCount {
    margin-left: -11px;
    margin-top: 1px;
    font-weight: bold;
    font-size: 14px;
}