<div class="container">
    <div class="row featurestory" *ngFor="let featurearticle of featureArticles">
        <div class="col-sm-9">
            <span class="tag">{{featurearticle.tag}}</span>
            <h2 class="title">{{featurearticle.articleDisplayTitle}}</h2>
            <div class="abstract">{{featurearticle.articleDisplaySubtitle}}</div>
            <div class="author">{{featurearticle.userFirstName}} {{featurearticle.userLastName}}</div>
            <time class="date">{{featurearticle.articleUpdateTime | date:'mediumDate'}}</time>
            <span class="readduration">{{featurearticle.articleReadTime}}</span>
        </div>
        <div class="col-sm">
            <a href="/" class="featurestory-preview-img" [style.background]="'url(' + featurearticle.articleFeatureImage +')'">
                <!-- <img src="https://cdn-images-1.medium.com/max/800/0*syfFJWLOzLoNRUbF."> -->
            </a>
        </div>
    </div>
</div>