<div class="popularStories-top">
    <span><b>Popular on Historical Mystery</b></span>
</div>
<div class="popularStories-content">
    <div class="popularStories-story" *ngFor="let popularstory of popularStories; let i = index">
        <div class="popularStories-number">0{{i+1}}</div>
        <div class="popularStories-info">
            <h2 class="popularStories-title">{{popularstory.title}}</h2>
            <div class="popularStories-author">{{popularstory.author}}</div>
            <time class="popularStories-date">{{popularstory.date | date:'mediumDate'}}</time>
            <span class="popularStories-readduration">{{popularstory.readduration}}</span>
        </div>
    </div>
</div>