<div *ngIf="article" class="article-content">
    <!-- <h4 class="article-tag">{{article.articleTag | uppercase }}</h4> -->
    <h1 class="article-title">{{article.articleDisplayTitle}}</h1>
    <h2 class="article-abstract">{{article.articleDisplaySubtitle}}</h2>
    <div class="article-info-block">
        <div class="article-author">
            {{article.userFirstName}} {{article.userLastName}}
        </div>
        <div class="article-date">
            {{article.articleUpdateTime}}
        </div>
        <div class="article-readduration">
            {{article.articleReadTime}}
        </div>
    </div>
    <img class="article-content-img" src={{article.articleFeatureImage}}>
    <div *ngFor='let paragraph of content'>
        <div class="article-content-paragraph" [innerHTML]="paragraph.paragraphEmbedContent"></div>
    </div>
    <!-- <div *ngFor='let content of article.articlebody'>
        <div class="article-content-paragraph" [innerHTML]="content.paragraphcontent"></div>
    </div> -->
    <div class="article-readeraction">
        <div *ngIf="isLoggedIn()" class="article-claps">
            <hm-articleclap (clap)="toggleClap(article.articleid)" [count]="article.articleclapnum" [clapped]="userHasClapped(article.articleid)"></hm-articleclap>
        </div>
    </div>
</div>