.featurestory {
    padding-block-end: 10%;
}

.tag {
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}

.title {
    font-size: 18px;
}

.abstract {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
}

.author {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.time {
    display: inline-block;
}

.featurestory-preview-img {
    background-position: 50% 50% !important;
    background-size: cover!important;
    background-origin: border-box!important;
    width: 100%!important;
    height: 100%!important;
    display: block!important;
    visibility: visible;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}