<div class="container metabar">
    <div class="row">
        <div class="col-sm-6">
            <a [routerLink]="['dashboard']">
                <span>
                    <img class="metabar-logo-img" src="../../assets/img/icon.jpg">
                </span>
            </a>
        </div>
        <div class="col-sm-6 d-flex flex-row-reverse metabar-right align-items-center">
            <div class="metabar-login">
                <a *ngIf="!authService.isAuthenticated()" [routerLink]="['user/login']">Login</a>
                <a *ngIf="authService.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{authService.currentUser.firstName}}</a>
            </div>
            <div class="metabar-newarticle d-flex">
                <a [routerLink]="['/article/new']">New</a>
            </div>
            <form id="searchForm" class="metabar-search d-flex">
                <div class="form-group metabar-search-input">
                    <input type="text" class="form-control metabar-search-input-field" placeholder="Search Sessions">
                </div>
                <button class="metabar-search-button">Search</button>
            </form>
        </div>
    </div>
</div>