<div class="container metabar">
    <div class="row">
        <div class="col-sm-4">
            <a [routerLink]="['dashboard']">
                <span>
                    <img class="metabar-logo-img" src="../../assets/img/icon.jpg">
                </span>
            </a>
        </div>
        <div class="col-sm-8 d-flex flex-row-reverse metabar-right align-items-center">
            <div class="metabar-login">
                <a *ngIf="!isLoggedIn()" class="login" [routerLink]="['user/login']">Log In</a>
                <a *ngIf="!isLoggedIn()" class="signup" [routerLink]="['user/register']">Sign Up</a>
                <a *ngIf="isLoggedIn()" [routerLink]="['user/profile']">Welcome
                    {{authService.currentUser.firstName}}</a>
            </div>
            <div class="metabar-newarticle d-flex">
                <a [routerLink]="['/article/new']">New</a>
            </div>
            <form id="searchForm" (ngSubmit)="searchArticles(searchTerm)" class="metabar-search d-flex">
                <div class="form-group metabar-search-input">
                    <input [(ngModel)]="searchTerm" name="searchTerm" type="text" class="form-control metabar-search-input-field" placeholder="Search Sessions">
                </div>
                <button class="metabar-search-button" hmModaltrigger="searchResults">Search</button>
            </form>
        </div>
    </div>
</div>

<hm-searchmodal closeOnBodyClick="true" elementId="searchResults" title="Matching Articles">
    <div class="list-group">
        <a class="list-group-item" *ngFor="let article of foundArticles" [routerLink]="['/article', article.articleid]">
            {{article.articletitle}}
        </a>
    </div>
</hm-searchmodal>