<div class="article-content">
    <h4 class="article-tag">{{article.articletag | uppercase }}</h4>
    <h1 class="article-title">{{article.articletitle}}</h1>
    <h2 class="article-abstract">{{article.articleabstract}}</h2>
    <div class="article-info-block">
        <div class="article-author">
            {{article.articleauthor}}
        </div>
        <div class="article-date">
            {{article.articledate}}
        </div>
        <div class="article-readduration">
            {{article.articlereadduration}}
        </div>
    </div>
    <!-- <img class="article-content-img" src={{article.articlefeatureimg}}> -->
    <div *ngFor='let content of article.articlebody'>
        <div class="article-content-paragraph" [innerHTML]="content.paragraphcontent"></div>
    </div>
</div>